@model DataRowCollection

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<table class="table table-condensed table-hover">
    <tr>
        <th hidden>ID</th>
        <th>FoodName</th>
        <th>Brand</th>
        <th>Expiry Date</th>
        <th style="text-align:right;">Quantity</th>
        <th style="text-align:right;">Phone Number</th>   
        <th style="text-align:right;">Cost</th>
        <th style="text-align:center;">Details</th>
    </tr>
    @foreach (DataRow row in Model)
    {
        <tr>
            <td hidden>@row["ID"]</td>
            <td>@row["FoodName"]</td>
            <td>@row["Brand"]</td>
            <td>@string.Format("{0:dd MMMM yyyy}", row["ExpiryDate"])</td>
            <td style="text-align:right;">
                @row["Quantity"] 
            </td>

            <td style="text-align:right;">
                @row["HPno"] 
            </td>
            <td style="text-align: right;">
                @string.Format("{0:C}", row["Cost"])
            </td>
            <td style="text-align: center;">
                <a asp-controller="Listing"
               asp-action="Details"
               asp-route-id="@row["ID"]">
                    <i class="bi bi-folder2-open"></i>
                </a>
            </td>
        </tr>
    }
</table>


